@model NewsForum.Models.ViewModels.RegisterViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2>Регистрация нового пользователя</h2>
    <form method="post" asp-controller="Register" asp-action="Register">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="UserName"></label><br />
            <input asp-for="UserName" />
            <span asp-validation-for="UserName"></span>
        </div>
        <div>
            <label asp-for="Email"></label><br />
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Year"></label><br />
            <input asp-for="Year" />
            <span asp-validation-for="Year"></span>
        </div>
        <div>
            <label asp-for="TimeZoneOffset"></label><br />
           <select asp-for="TimeZoneOffset">
                @for (int i= -12; i<13; i++)
                 {
                    <option value="@i">
                        @(i>0?"+" + i.ToString() : i.ToString())
                    </option>
                }
            </select>
            <span asp-validation-for="TimeZoneOffset"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="PasswordConfirm"></label><br />
            <input asp-for="PasswordConfirm" />
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
        <div>
            <input type="submit" value="Регистрация" />
        </div>
    </form>
</body>
</html>