@using NewsForum.Models.ViewModels
@model HttpErrorViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Ошибка @Model.Code.ToString()</h2><br/>
                <h4>@Model.Description</h4>
            </div>
        </div>
    </div>
</body>
</html>